<h1 mat-dialog-title><strong>{{action}} Treatment</strong></h1>
<div mat-dialog-content>                                                  <!-- ['date','id','carid','cost','status','details','action'];-->
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Car-Id" matInput [(ngModel)]="local_data.carid">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete';">
    <input placeholder="Cost" matInput [(ngModel)]="local_data.cost">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete';">
    <input placeholder="Details" matInput [(ngModel)]="local_data.details">
  </mat-form-field>

  <mat-form-field *ngIf="action == 'Edit';">
    <input placeholder="Status" matInput [(ngModel)]="local_data.status">
  </mat-form-field>

  <ng-template #elseTemplate>
    Sure to delete this Treatment: <b>{{local_data._id}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions style="padding-left:20px">
  <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
