<h1 mat-dialog-title><strong>{{action}} Garage</strong></h1>
<div mat-dialog-content>                                                
  <mat-form-field appearance="outline" *ngIf="action != 'Choose'; else elseTemplate">
    <mat-label>{{action}} Name</mat-label>
  <!--  <input  matInput [(ngModel)]="local_data.name"> -->
  <input  matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="action != 'Choose';">
    <mat-label>{{action}} Country </mat-label>
  <!--  <input  matInput [(ngModel)]="local_data.location.country">-->
  <input  matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="action != 'Choose';">
    <mat-label>{{action}} City</mat-label>
 <!--   <input  matInput [(ngModel)]="local_data.location.city"> -->
  <input  matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="action != 'Choose';">
    <mat-label>{{action}} Street</mat-label>
  <!--  <input  matInput [(ngModel)]="local_data.location.street"> -->
  <input  matInput>
  </mat-form-field>


  <ng-template #elseTemplate>
    Choose: <b>lololol</b>?
  </ng-template>
</div>
<div mat-dialog-actions style="padding-left:20px">
  <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
