<!-- SET 1 -->
<div class="row">
  <div class="card">
    <div class="card-header">
      Morning
    </div>
    <div class="card-main">
      <i class="material-icons">
    rowing
  </i>
      <div class="main-description">
        Row
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Afternoon
    </div>
    <div class="card-main">
      <i class="material-icons">
    pool
  </i>
      <div class="main-description">
        Swim
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Night
    </div>
    <div class="card-main">
      <i class="material-icons">
    hot_tub
  </i>
      <div class="main-description">
        Hot Tub
      </div>
    </div>
  </div>
</div>
<!-- SET 3 -->
<div class="row">
  <div class="card" id="or-border2">
    <div class="card-header" id="or-header2">
      Morning
    </div>
    <div class="card-main">
      <i class="material-icons" id="or-color2">
    directions_run
  </i>
      <div class="main-description" id="or-color2">
        Run
      </div>
    </div>
  </div>

  <div class="card" id="or-border2">
    <div class="card-header" id="or-header2">
      Afternoon
    </div>
    <div class="card-main">
      <i class="material-icons" id="or-color2">
    directions_bike
  </i>
      <div class="main-description" id="or-color2">
        Bike
      </div>
    </div>
  </div>

  <div class="card" id="or-border2">
    <div class="card-header" id="or-header2">
      Night
    </div>
    <div class="card-main">
      <i class="material-icons" id="or-color2">
    hotel
  </i>
      <div class="main-description" id="or-color2">
        Sleep
      </div>
    </div>
  </div>
</div>