<!-- side bar -->


<mat-sidenav mode="side" opened>
<nav class="main-menu" >
  <ul >
      <li (click)="Select('Income')">
          <a href="/main" [ngClass]="{'is-active ': selected=='Income'}" onclick="return false;">
              <i class="fa fa-bar-chart-o fa-2x"  [ngClass]="{'is-active ': selected=='Income'}" #Income></i>
              <span class="nav-text">
                  Income
              </span>
              
          </a>
        
      </li>
      <li (click)="Select('Treatment')">
          <a href="/main" [ngClass]="{'is-active ': selected=='Treatment'}" onclick="return false;">
              <i class="fa fa-table fa-2x" [ngClass]="{'is-active ': selected=='Treatment'}" #Treatment ></i>
              <span class="nav-text">
                  Treatment
              </span>
          </a>
          
      </li>
      <li  (click)="Select('Map')">
         <a href="/main" [ngClass]="{'is-active ': selected=='Map'}" onclick="return false;">
              <i class="fa fa-map-marker fa-2x" [ngClass]="{'is-active ': selected=='Map'}" #Map ></i>
              <span class="nav-text">
                  Map
              </span>
          </a>
      </li>
      <li *ngIf="permission" #menu (click)="Select('Users')">
          <a href="/main" [ngClass]="{'is-active ': selected=='Users'}" onclick="return false;">
             <i class="fa fa-list fa-2x"  [ngClass]="{'is-active ': selected=='Users'}" #Users ></i>
              <span class="nav-text">
                  Users
              </span>
          </a>
      </li>
  </ul>
  <ul class="logout">
      <li>
         <a href="/">
               <i class="fa fa-power-off fa-2x" (click)="Select('Logout')" #Logout></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
</mat-sidenav>

