<!-- main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-*-1">
      <app-side></app-side>
    </div>
    <div class="col-*-11" style="padding-left:60px;">
      <app-allgaragestable *ngIf="checkselected('Income')"></app-allgaragestable>
      <app-brandchart *ngIf="checkselected('Income')"></app-brandchart>
      <app-garagetable *ngIf="checkselected('Treatment')"></app-garagetable>
      <app-map *ngIf="checkselected('Map')"></app-map>
      <app-usertable *ngIf="checkselected('Users')"></app-usertable> 
      <!-- <app-welcome *ngIf="checkselected('Welcome')"></app-welcome> 
           <app-blocked *ngIf="checkselected('Blocked')"></app-blocked>  -->
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>